.App {
  text-align: center;
  width: 500px;
  height: 500px;
  position: relative;
  margin: auto;
  border: 10px red;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content{
  height: 90%;
  top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
  outline: 1px solid rgb(199, 23, 23);
  position: relative;
}
.content div{
  position: absolute;
  width: 50%;
  height: 50%;
  top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
  outline: 1px solid rgb(199, 23, 23);
}
.buttons{
  outline: 1px solid rgb(199, 23, 23);
  height: 10%;
  text-align: center;
}
button{
  margin-top: auto;
  display: inline-block;
}
.content2{
  height: 90%;
  top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
  outline: 1px solid rgb(199, 23, 23);
  position: relative;
}
.content2 div{
  margin: 5px;
}
.Score{
  height: 10%;
}
.characters{
  height: 90%;
}
.player, .bot{
  width: 120px;
  height: 120px;
  display: inline-block;
}
.player div{

  width: 120px;
  height: 120px;
  background-image: url(Idle.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.bot div{
  width: 120px;
  height: 120px;
  background-repeat: no-repeat;
  background-size: 1800%;
  background-image: url(Viking-Sheet.png);
  transform: scaleX(-1);
}
.content2 .green{
  background-color: green;
}
.content2 .black{
  background-color: black;
  color: white;
}

.content2 .we{
  width: 200px;
  height: 100px;
}
.content2 .timer{
  width: 100px;
  height: 50px;
}
.form{
  width: auto;
  height: 100px;
}
.Attack{
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url(sword.png);
  background-size:100%;
  background-repeat: no-repeat;
  background-position: center;
}
.Defense{
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url(shield.png);
  background-size:100%;
  background-repeat: no-repeat;
  background-position: center;
}
.Spell{
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url(spell.png);
  background-size:100%;
  background-repeat: no-repeat;
  background-position: center;
}
.Skip{
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url(skip.png);
  background-size:100%;
  background-repeat: no-repeat;
  background-position: center;
}
.fail{
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url(flag.png);
  background-size:100%;
  background-repeat: no-repeat;
  background-position: center;
}
.conteyner{
  height: 300px;
}
.over{
  height: 25px;
  border: 1px solid red;
  border-bottom:2px solid red ;
}
.over:hover{
  border: 1px solid red;
  margin-top: 7px;
}